apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: prometheus_main
    url: http://{{ prometheus_ip }}:9090 # Ссылка на Prometheus
    access: proxy
    isDefault: true
    version: 1
    editable: true
    basicAuth: false
